### Data preprocessing part

In [1]:
# source: https://www.kaggle.com/ntnu-testimon/paysim1
import os
import pandas as pd
import numpy as np

df = pd.read_csv("PS_20174392719_1491204439457_log.csv", na_values=['NA', '?'])
df.reindex(np.random.permutation(df.index))
df[:5]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [2]:
from sklearn.preprocessing import LabelEncoder

#no need for this one
df.pop('isFlaggedFraud')


enc = LabelEncoder()

def columnEncoder(columns):
    for column_name,space in columns:
        enc.fit(df[column_name])
        enc_type = enc.transform(df[column_name])
        df.insert(space,"encoded_" + column_name,enc_type)
        df.pop(column_name)

change = [['nameOrig',4],['nameDest',7],['type',1]]

col_enc = columnEncoder(change)


df[:5]

,step,encoded_type,amount,encoded_nameOrig,oldbalanceOrg,newbalanceOrig,encoded_nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,3,9839.64,757869,170136.0,160296.36,1662094,0.0,0.0,0
1,1,3,1864.28,2188998,21249.0,19384.72,1733924,0.0,0.0,0
2,1,4,181.00,1002156,181.0,0.00,439685,0.0,0.0,1
3,1,1,181.00,5828262,181.0,0.00,391696,21182.0,0.0,1
4,1,3,11668.14,3445981,41554.0,29885.86,828919,0.0,0.0,0

In [ ]:
from sklearn.utils import resample

### Training part